* {
  box-sizing: border-box;
}
a {
  text-decoration: none;  
}
ul {
  list-style: none;
  padding: 0;
}
h1,h2 {
  margin: 0;
}
img {
  width: 100%
}
.body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Lato', 'Oswald', 'Philosopher',  'Pacifico', cursive;
  background-color: rgb(12, 194, 240); 
}
.container {
  max-width: 76%;
  margin: 0 auto;
}
.green {
  background-color: green;
}
/*
.header {  
  &__wrap {
    padding: 40px;
    text-align: center;
  }
  &__title {
    color: rgb(202, 13, 240);
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.6em;
    text-shadow: 3px 3px 6px rgb(48, 47, 47);
    padding-bottom: 30px;
    @include media-down(md) { 
      letter-spacing: 0.4em;
      font-size: 70px;
    }
  }
}
*/
.m-main {
  &__wrap {   
    background-color: rgb(12, 194, 240);
    height: 100vh;    
  }
  &__btn {
    position: fixed;
    right: 50px;
    top: 50%;  
    display: block;
    width: 100px;
    transform: translateY(-50%);
    height: 90px;
    border-radius: 16px;
    background-color: rgb(12, 194, 240);  
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .4);
    @include media-down(md) { 
      width: 80px;
      height: 60px; 
      right: 10px;
    }
  }
}
.top {
  margin-top: 60px;
  &__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
    margin: 0;
    @include media-down(md) { 
      padding: 0;
    }
  }
  &__item {
    padding: 17px 0;
    text-align: center;
    color: rgb(245, 240, 244);
    font-size: 26px;
    background-color: rgb(173, 95, 6);
    text-shadow: 3px 3px 6px rgb(48, 47, 47);
    letter-spacing: 0.2em;
    border: 1px solid rgb(122, 106, 106);
    transition: .5s;
    &:hover {
      background-color: rgb(228, 231, 41);
      color: rgb(248, 7, 27);
    }
    @include media-down(lg) {       
      font-size: 20px;
      padding: 10px 0;
    }
    @include media-down(md) {       
      font-size: 16px;
      padding: 10px 0;
    }
  }
}
.questions {  
  &__wrap { 
    position: relative;
  }
  &__bg {
   padding-top: 50%;
   grid-column: 1/8;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  } 
}
.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  &__item {
    text-align: center;
    border: 1px solid #fff;
    @include flex ($j-center, $a-center);
    background-color: rgb(12, 194, 240);
    &--red {
      background-color: rgb(245, 112, 112);
    }
    &--orange {
      background-color: rgb(250, 176, 37);
    }
    &--yellow {
      background-color: rgb(250, 250, 44);
    }
    &--green {
      background-color: rgb(39, 243, 39);
    }
    &--lblue {
      background-color: rgb(103, 215, 243);
    }
    &--blue {
      background-color: rgb(35, 56, 247);
    }
    &--violet {
      background-color: rgb(161, 11, 247);
    }
    &:hover {
      background-color: rgb(177, 199, 199);
    }
  }
  &__link {
    width: 100%;
    padding: 16% 0;
    color: rgb(107, 92, 92);
    font-size: 50px;
    text-shadow: 2px 2px 3px rgb(245, 243, 243);
    @include media-down(md) { 
      font-weight: bold;
      font-size: 1.6em;      
    }
  }
}
.transparent {
  opacity: 0;
}
@keyframes rotate-colors {
  100% {
    filter: hue-rotate(360deg);
  }
}
.open {
  background-color: transparent;
}
//Ответы
.test {  
  &__wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-image: radial-gradient(rgb(3, 250, 24), rgb(12, 194, 242));
  }
  &__field {
    margin: 60px 0;
  }
}
.field {
 width: 80%;
 margin: 0 auto; 
  &__title {
    border: 2px solid rgb(248, 235, 122);
    border-radius: 20px;
    padding: 30px 40px;
    color: #fff;
    font-size: 40px;
    text-shadow: 3px 3px 6px rgb(48, 47, 47);
    letter-spacing: 0.1em;
    background-color: #2846ee;
    line-height: 1.2em;
    box-shadow: 8px 8px 18px #000;
    @include media-down(md) { 
      font-size: 1.6em;
      line-height: 1.3em;
      padding: 20px 30px;     
    }
  }
}
.ansver {
  &__wrap {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;  
  }
  &__item {
    position: relative;
    border-radius: 20px;
    margin: 18px 10px;
    padding: 30px 20px 30px 70px;
    font-size: 40px;
    color: #fff;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px rgb(48, 47, 47);
    background-color: rgb(40, 70, 238);
    box-shadow: 8px 8px 18px #000;
    text-align: left;
    @include media-down(md) { 
      font-size: 1.6em;
      line-height: 1.3em; 
      padding: 20px 20px 30px 70px;    
    }  
    &:active {
      box-shadow: 1px 1px 4px 0 #000;
    }
  }
  &__span {
    position: absolute;
    left: 20px;
    color: rgb(238, 180, 55);
    top: 50%;
    transform: translateY(-50%);
  }
}
.blue {
  background-color: rgb(40, 70, 238);
}
