$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;
$a-st: stretch;

@mixin flex($flex-j: $j-fs, $flex-a: $a-st) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
}

@mixin img-center {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


//mtdia
@mixin media-up($media) {
  @if $media == xs {
    @media (min-width: $screen-xs) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $screen-sm) { @content; }
  }
  @else if $media == md {
    @media (min-width: $screen-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $screen-lg) { @content; }
  } 
}
@mixin media-down($media) {
  @if $media == xs {
    @media(max-width: $screen-xs - 1) { @content; }
  }
  @else if $media==sm {
    @media (max-width: $screen-sm - 1) { @content; }
  }
  @else if $media == md {
    @media (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == lg {
    @media (max-width: $screen-lg - 1) { @content; }
  } 
}
@mixin media-only($media) {
  @if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) { @content; }
  } 
}

