$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1240px;
$screen-lg: 1440px;

$container-xs: 320px;
$container-sm: 660px;
$container-md: 960px;
$container-lg: 1040px;
//media
//flex
$j-fs: flex-start;
$j-end: flex-end;
$j-center: center;
$j-sb: space-between;
$j-sa: space-around;
$j-se: space-evenly;

$a-fs: flex-start;
$a-end: flex-end;
$a-center: center;
$a-bl: baselie;
